*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Mono', monospace;
}
.paint{
background-color: #fd65d9;
padding: 10px;
}
.cointener{
    padding: 10px;
    margin: 20px;
}
.pain-conintener{
    padding: 15px;
    width: 25%;
    background-color: black;
    color: white;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}
.pain-conintener h2{
    color: #FD6569;
}
.pain-conintener button{
    background-color: #FD6569;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
}
.add-button{
    background-color:#FD6569;
    color: black;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
}
.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.popup-box{
    background-color:#FD6569;
    border-radius: 10px;
    width: 40%;
    padding: 40px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
}
.popup-box input{
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: solid black;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}
.popup-box textarea{
    background: transparent;
    width: 100%;
    border: solid black 2px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}
.popup-box button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;background-color: black;
    color: white;
    border: none;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea:focus{
    outline: none;
}
.popup-box input:focus{
    outline: none;
}





